<form [formGroup]="groupForm" > 
    <div class="container">
        <input formControlName="groupName" class="form-control mr-sm-2" type="text" placeholder="Enter Group Name" autofocus/>
        <ul class="list-group">        
            <li class="list-group-item " *ngFor="let item of friends" >
                <input formControlName="selectedFriends" class="form-check-input" type="checkbox" value="{{item}}" (click)="checkedFriends(item)" >
               
                    {{ item }}
                           
            </li>
        </ul>
        <button type="submit" class="btn btn-primary" (click)="createGroup()" >Submit</button>
    </div>
</form>
